.newProduct{
    padding: 10px;

    .addProductTitle{
        font-size: x-large;
        font-weight: 600;
    }

    .addProductForm{
        margin-top: 10px;

        .addProductItem{
            width: 250px;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-right: 20px;

            label{
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 600;
                color: rgb(68, 1, 71);
            }

            .addProductItemInput{
                height: 20px;
                padding: 10px;
                border: 1px solid grey;
                border-radius: 5px;
            }



            .addProductSelect{
                height: 40px;
                border-radius: 5px;
            }
        }

        .addProductButton{
            width: 200px;
            border: none;
            background-color: rgb(19, 3, 161);
            color: white;
            padding: 7px 10px;
            font-weight: 600;
            border-radius: 10px;
            margin-top: 30px;
            cursor: pointer;
        }
    }
}