.App{

    .container{
        display: flex;

        .link{
            text-decoration: none;
            color: inherit;
        }

        .others{
            flex: 5;
            background-color: rgba(176, 107, 58, 0.578);
            padding-top: 10px;
        }
    }
}